@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  background-color: rgba(142,196,216,0.8);
  text-align: center;
}

.App-header {
  background-color: rgba(142,154,216,0.4);
  font-style: italic;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(2px + 2vmin);
  backdrop-filter: blur(100px);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background-color:rgba(142,196,216,0.8);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}